* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
